<div class="container">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" ngModel name="keyword" (ngModelChange)="search($event)">
  </form>
  <p>{{mess}}</p>
  <ng-container *ngIf="data && data.length > 0"; else message>
    <div class="row">
      <div class="col-3" *ngFor="let item of data">
        <div class="card" style="width: 18rem;">
          <img src={{item.imageUrl}} class="card-img-top" alt={{item.name}}>
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.price}}</p>
            <a [routerLink]="'/product/'+item.id" class="btn btn-primary">Show more</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #message>
    <div>
      <p>Khong ton tai san pham nao</p>
    </div>
  </ng-template>
</div>