
<ng-container *ngIf="data && data.length === 0;  else listItem">
  <p>Khong co san pham nao</p>
</ng-container>
<ng-template #listItem>
  <div class="row">
    <div class="col-3" *ngFor="let item of data">
      <div class="card">
        <img src={{item.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.price}}</p>
          <a [routerLink]="'/product/'+item.id" class="btn btn-primary">Show detail</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>